@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.discrete_progress_bar{
    width: 150px;
    height: 8px;
    background: repeating-linear-gradient(
        to right,
        #ddd,
        #ddd 6%,
        transparent 4%,
        transparent 5%
      ),
      repeating-linear-gradient(
        to right,
        green,
        green 20%,
        transparent 20%,
        transparent 25%
      );
  
    background-size: 200%, 100%;
    background-position: -100%;
    background-repeat: repeat-y;
}